<h1>Új beszélgetés</h1>

<%= form_with url: conversations_path, method: :post do %>
    <% if !params[:recipient_id].present? %>
    <div>
        <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :name) %>
    </div>
    <% else %>
        <%= hidden_field_tag :user_id, params[:recipient_id] %>
    <% end %>

    <div>
        <%= text_field_tag :subject, nil, placeholder: "Tárgy", maxlength: 140, autofocus: true, required: true %>
    </div>

    <div>
        <%= text_area_tag :body, "", placeholder: "Hagyj üzenetet", maxlength: 32_000, required:true %>
    </div>

    <%= submit_tag "Küldés" %>
<% end %>