<h1><%= @partner.name %>: <%= @conversation.subject %></h1>

<div id="chatbox" style="overflow:auto; height:150px">
<% @receipts.each do |receipt| %>
    <p title = "<%= receipt.message.created_at.strftime("%Y. %m. %d. %H:%M") %>">
        <% if receipt.message.sender.name === current_user.name %>
            <%= "Én: " + receipt.message.body %>
        <% else %>
            <%= receipt.message.sender.name + ": " + receipt.message.body %>
        <% end %>
    </p>
<% end %>
</div>

<% @conversation.mark_as_read(current_user) %>

<%= form_with url: conversation_messages_path(@conversation), method: :post do %>
    <div>
        <%= text_area_tag :body, "", placeholder: "Új üzenet", maxlength: 32_000, id: "chat-input-field", required: true %>
    </div>

    <%= submit_tag "Küldés", id: "chat-send-btn" %>
<% end %>
