<div class="messaging">
    <div class="conversations">
        <div class="header">
            <h1>Beszélgetések</h1>
            <h2 class="unread-num">Olvasatlanok száma: <%= current_user.unread_inbox_count %></h2>
        </div>
        
        <div class="inbox">
        <dl class="inbox uk-description-list">
        <% @conversations.each do |conversation| %>
            <%= link_to conversation_path(conversation), class: "conversation-link", remote: true do %>
            <dt class="inbox-conversation-partner">
                <% if conversation.is_unread?(current_user) %><b><% end %>
                <%= (conversation.participants - [current_user])[0].username %>
                <% if conversation.is_unread?(current_user) %></b><% end %>
            </dt>
            <dd class="inbox-conversation-subject">
                <%= conversation.subject %>
            </dd>
            <% end %>
        <% end %>
        </dl>
        </div>
        
        <%= link_to "Új beszélgetés", new_conversation_path, class: 'new-conversation-link uk-button uk-button-basic', remote: true %>
    </div>

    <div class="chat" id="current_conversation">
    
    </div>

    <div class="partner-details">

    </div>
</div>
