<head>
<meta charset="utf-8">
<title>Independent CSS scrolling panels (with inertia)</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
	document.addEventListener("turbolinks:load",function(){
	input = $("#q")
	users=null
		
	
	var options = {
		getValue: "name",
		url: function(phrase){
			$.getJSON('/conversations/search.json?q='+phrase, function(data) {
			users=data	
			});
		
		return "/conversations/search.json?q=" + phrase
		},
		categories: [
		{   
			listLocation: "users",
			header: "<strong>Felhasználók<strong>",
		}
		],
		list: {
		onChooseEvent: function() {
				var index=input.getSelectedItemIndex()
				$("#selected_user_id").val(users.users[index].id)

				
				document.forms["search_form"].submit();
			}
		}

	}
	input.easyAutocomplete(options)
	});
</script>
<style>		
			* {
				-webkit-box-sizing: border-box;
				        box-sizing: border-box;
			}
			/*This just stops me getting horizontal scrolling if anything overflows the width*/
			body {
				overflow-x: hidden;
			}
			/*This is our main wrapping element, it's made 100vh high to ensure it is always the correct size and then moved into place and padded with negative margin and padding*/
			.Container {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				overflow: hidden;
				height: 100vh;
				margin-top: -100px;
				padding-top: 80px;
				position: relative;
				width: 100%;
				-webkit-backface-visibility: hidden;
				        backface-visibility: hidden;
				will-change: overflow;
			}
			/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
			WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
			*/
			.Left,
			.Middle,
			.Right {
				overflow: scroll;
				left: 0;
				top: 0;
				height: auto;
				padding: 0px;
				-webkit-overflow-scrolling: touch;
				-ms-overflow-style: none;
			}
			/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
			.Left::-webkit-scrollbar,
			.Middle::-webkit-scrollbar,
			.Right::-webkit-scrollbar {
				display: none;
			}
			/*	Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
			.Left {
				width: 25%;
			}

			.Middle {
				-webkit-box-flex: 1;
				-webkit-flex: 1;
				    -ms-flex: 1;
				        flex: 1;
			}

			.Right {
				width: 25%;
			}

			.mobile {
				width: 100%;
			}

			.wrapper {
				display: flex;
				flex-direction: column-reverse;
				max-height: 100vh;
				overflow: auto;
			}

		</style>
</head>
<body>
    <div class="Container uk-visible@m">
        <div class="Left">
            <div class="uk-card uk-padding-small uk-card-default uk-padding-remove-top uk-padding-remove-bottom" uk-sticky="offset: 80; bottom: #top">
                <div class="uk-card-body uk-padding-small uk-padding-remove-bottom">
                    <h2  class="uk-margin-remove-bottom">Beszélgetések</h2>
                </div>
                <div class="uk-card-footer uk-padding-small uk-padding-remove-top uk-padding-remove-bottom">
                    
					<%= form_with url: url_for(action: 'view', controller: 'conversations'), local: true, method: :get, id: 'search_form', class: "uk-padding-small uk-padding-remove-left uk-padding-remove-right" do |form| %>
						<%= form.text_field :q, placeholder: "Keresés a felhasználók között" %>
						<%= hidden_field_tag :selected_user_id, ''  %> 
					<% end %>							
										
                </div>
            </div>

            <% @conversations.each do |conversation| %>
                <% recipient = conversation.sender_id == current_user.id ? conversation.receiver : conversation.sender %>
                <% if conversation == @conversation %>
				  <%= link_to conversations_path(conversation_id: conversation.id), class: "uk-link-reset" do %>
					<div class="uk-card uk-card-primary uk-padding-small uk-padding-remove-top uk-padding-remove-bottom"  uk-sticky="offset: 80; bottom: #top">
						<div class="uk-card-body uk-padding-small">
							<h3 class=" uk-margin-remove-bottom"><%= recipient.name%></h3>
							<p class="uk-text-meta uk-margin-remove-top "><time datetime="2016-04-01T19:00"><%= conversation.updated_at.to_s(:db)%></time></p>
						</div>
					</div>
				<% end %>
				<% else %>
				  <%= link_to conversations_path(conversation_id: conversation.id), class: "uk-link-reset" do %>
					<div class="uk-card uk-padding-small uk-padding-remove-top uk-padding-remove-bottom"  uk-sticky="offset: 80; bottom: #top">
						<div class="uk-card-body uk-padding-small">
							<% unless conversation.unread_message_count(current_user).zero? %>
								<h3 class="uk-text-secondary uk-text-bold uk-margin-remove-bottom"><%= recipient.name%>
									<div class="uk-badge uk-background-secondary uk-align-right  uk-align-right uk-margin-small-top uk-margin-remove-bottom uk-padding-small uk-padding-remove-top uk-padding-remove-bottom">
										<%= conversation.unread_message_count(current_user) %>
									</div>
								</h3>
								<p class="uk-text-secondary uk-text-bold uk-text-meta uk-margin-remove-top "><time datetime="2016-04-01T19:00"><%= conversation.updated_at.to_s(:db)%></time></p>
							<% else %>
								<h3 class="uk-margin-remove-bottom"><%= recipient.name%></h3>
								<p class="uk-text-meta uk-margin-remove-top "><time datetime="2016-04-01T19:00"><%= conversation.updated_at.to_s(:db)%></time></p>
							<% end %>
						</div>
					</div>
				<% end %>
				<% end %>
            <% end %>
        </div>
        <div class="Middle wrapper">
			<%= render partial: 'middle' %>
        </div>
		<div class = "Right">
			<%= render partial: 'right' %>
		</div>
    </div>
	<div class = "Container uk-hidden@m">
		<% if @mobile == "middle" %>
		<div class = "Middle wrapper">
			<%= render partial: 'middle' %>
		</div>
		<% elsif @mobile == "right" %>
			<div class = "Right mobile">
		  		<%= render partial: 'right' %>
		  	</div>
		<% else %>
			<div class = "Left mobile">
				<%= render partial: 'left' %>
			</div>
		<% end %>
	</div>
</body>
