<h1>Új beszélgetés</h1>

<%= form_with url: conversations_path, method: :post do %>
    <% if !params.has_key?(:recipient_id) %>
    <div>
        <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :name) %>
    </div>
    <% else %>
        <%= hidden_field_tag :user_id, params[:recipient_id] %>
    <% end %>

    <div>
        <%= text_field_tag :subject, nil, placeholder: "Tárgy", required: true %>
    </div>

    <div>
        <%= text_area_tag :body, "", placeholder: "Hagyj üzenetet" %>
    </div>

    <%= submit_tag %>
<% end %>