<table>
<tr>
  <td><strong>Név:</strong></td>
  <td align = "right"><%= @good.name %></td>
</tr>

<tr>
  <td><strong>Ár:</strong></td> 
  <td align = "right"><%= @good.price %></td>
</tr>

<tr>
  <td><strong>Darabszám:</strong></td>
  <% if params[:purchase_id].nil? %>
    <td align = "right" id = 'number'><%= @good.number %></td>
  <% else %>
    <td align = "right" id = 'number'><%= Purchase.find(params[:purchase_id]).number %></td>
  <% end %>
</tr>

<tr>
  <% if @good.seller_id != current_user.id %>
    <td><strong>Eladó:</strong></td>
    <td align = "right">
      <% seller = User.find_by_id(@good.seller_id) %>
      <%= link_to seller.name, {action: 'show_other_user', id: seller.id,
        good_id: @good.id}
      %>
    </td>
  <% end %>
</tr>

<tr>
  <td><strong>Leírás:</strong></td>  
  <td align = "right"><%= @good.description %></td>
</tr>
</table>

<% if @good.photo.attached? %>
  <p><%= image_tag @good.thumb%></p>
<% else %>
  <% product = Product.find_by_id(@good.product_id) %>
  <% if product.photo.attached? %>
    <p><%= image_tag product.thumb%></p>
  <% end %> 
<% end %>

<% if @good.seller_id == current_user.id && params[:purchase_id].nil? %>
  <p><%= link_to 'Törlés', {action: 'delete_num', controller: 'goods', id: @good.id}%></p>
    <p><%= link_to 'Szerkesztés', {action: 'edit', controller: 'goods', id: @good.id}%></p>

<% end %>
<% if !params[:purchase_id].nil? %>
  <% purchase = Purchase.find(params[:purchase_id]) %>
  <% if purchase.buyer_id == current_user.id %>
    <% name = current_user.name %>
    <% uzenet = name + " megvette fent jelzett nevű termékedből "+
          @good.number.to_s + " darabot.\n
          Dátum: " + Time.new.strftime("%Y-%m-%d, %H:%M:%S").to_s%>
    <p>
      <%=link_to "Eldobás", {action: 'back_from_cart', controller: 'purchases', id: purchase.id} %>
    </p>
  <% else %> 
    <p>
      <%=link_to "Kifizetve", {action: 'delete', controller: 'purchases', id: purchase.id} %>
    </p>
  <% end %>
<% end %>
