<div class="uk-child-width-1-2 uk-flex-center" uk-grid>
  <div>
    <div class="" uk-grid>
      <div class="uk-width-1-3@m">
        <%=image_tag get_image(@good)%>
      </div>
      <div class="uk-width-2-3@m">
        <p>
          <strong>Név:</strong>
          <%= @good.name %>
        </p>

        <p>
          <strong>Ár/db:</strong>
          <%= @good.price %> Ft
        </p>

        <p>
          <strong>Darabszám:</strong>
          <% if params[:purchase_id].nil? %>
            <%= @good.number %>
          <% else %>
            <%= Purchase.find(params[:purchase_id]).number %>
          <% end %>
        </p>

        <% unless params[:purchase_id].nil? %>
          <p>
            <strong>Összesen fizetendő:</strong>
            <%= Purchase.find(params[:purchase_id]).number * @good.price %> Ft
          </p>
        <% end %>

        <p>
          <% if @good.seller_id != current_user.id %>
            <strong>Eladó:</strong>
            <% seller = User.find_by_id(@good.seller_id) %>
            
            <%= link_to seller.username, conversations_path(sender_id: current_user.id, receiver_id: seller.id), method: :post  %>
          <% elsif @good.seller_id == current_user.id && !params[:purchase_id].nil? %>
            <strong>Vevő:</strong>
            <% purchase = Purchase.find(params[:purchase_id]) %>
            <% buyer = User.find_by_id(purchase.buyer_id) %>
            <%= link_to buyer.username, conversations_path(sender_id: current_user.id, receiver_id: buyer.id), method: :post  %>
          <% end %>
        </p>

        <%=render partial:"goods/tags", object:@good.tags%>

        <p>
          <strong>Leírás:</strong>
          <%= @good.description %>
        </p>

        <% if @good.seller_id == current_user.id && params[:purchase_id].nil? %>
          <a href="#modal-center" uk-toggle>Törlés</a>
          <p><%= link_to 'Szerkesztés', {action: 'edit', controller: 'goods', id: @good.id}%></p>
        <% end %>
        <% unless params[:purchase_id].nil? %>
          <% purchase = Purchase.find(params[:purchase_id]) %>
          <% if purchase.buyer_id == current_user.id %>           
            <p>
              <% uzenet = "Tényleg törölni akarod a rendelést?"%>
              <%=link_to "Eldobás", {action: 'back_from_cart', controller: 'purchases', id: purchase.id}, data: {confirm: uzenet} %>
            </p>
          <% else %> 
            <p>
              <% uzenet = "Valóban kifezette " + User.find_by_id(purchase.buyer_id).username + " a vásárlást?"%>
              <%=link_to "Kifizetve", { action: 'delete', controller: 'purchases', id: purchase.id }, data: {confirm: uzenet} %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>   
  </div>
</div>

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <% new_good = Good.new %>
        <div align = "center">
          <%= form_for new_good, :url => url_for(action: 'delete', controller: 'goods'), class: "uk-form-horizontal uk-margin-large" do |f| %>
            <%= f.select :number, options_for_select(0..@good.number)%>   
            <%= hidden_field_tag(:id, @good.id)%>
            <%= f.submit "Törlés" %>
          <% end %>
        </div>
    </div>
</div>
