<h3>Bejelentkezés</h3>
<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>
    <div>
        <%=f.label :username %>: 
        <%=f.text_field :username %>

        <%=f.label :password %>: 
        <%=f.password_field :password %>
    </div>
    <%=f.submit "Bejelentkezés" %>
<%end%>
<%= link_to 'Vissza', {:action => 'index', :controller => 'eschop'} %>