<div class="uk-child-width-1-2@l  uk-flex-center " uk-grid>    
        <div class="uk-align-center uk-card uk-card-secondary uk-card-body" uk-sticky="offset: 80; bottom: #top"
        style="z-index: 1">
            <h1 class="uk-text-center uk-text-bold" style = "color: #8e8e8e">Kosaram</h1>
            <% osszeg = 0 %>
            <% if !@purchases.nil? %>
                <% @purchases.each do |p| %>
                    <% if p.buyer_id == current_user.id %>
                        <% good = Good.with_deleted.find(p.good_id) %>
                      
                    <div> <% osszeg += p.number*good.price%></div>
                    <% end %>
                <% end %>
            <% end %>

            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-expand" uk-leader="fill: -">Összesen:</div>
                <div><%= osszeg%> Ft</div>
            </div>
        </div>
</div>

<div class="uk-child-width-1-2@l  uk-flex-center" uk-grid>    
       <ul class="uk-list uk-list-divider">
             <% @purchases.each do |p| %>
                <% if p.buyer_id == current_user.id%>
                <% good = Good.with_deleted.find(p.good_id) %>
                    <li>                                          
                       <table style="width:100%">
                            <tr>
                                <th style="uk-preserve-width,width:20%" rowspan="3">
                                        <% if good.photo.attached? %>
                                            <%= link_to action: 'good_show', id: good.id, purchase_id: p.id do %>
                                                <%= image_tag(good.photo) %>
                                            <% end %>
                                        <% else %>
                                            <% product = Product.find_by_id(good.product_id) %>
                                            <% if product.photo.attached? %>
                                                <%= link_to action: 'good_show', id: good.id, purchase_id: p.id do %>
                                                    <%= image_tag(product.photo) %>
                                                <% end %>
                                            <% end %> 
                                        <% end %>
                                        </th>
                                <th style="width:70%">
                                   <%= link_to good.name, {action: 'good_show', id: good.id, purchase_id: p.id}, class: "uk-link-reset" %>
                                </th>
                                <th style="width:10%">
                                    <div align="center">
                                    <% uzenet = "Tényleg törölni akarod a rendelést?"%>                                      
                                        <%= link_to back_from_cart_path(id: p.id), data: {confirm: uzenet} do %> <span uk-icon="icon: trash" uk-tooltip="title: Rendelés törlése; pos: bottom"></span><%end%> </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td rowspan="2"><div> Mennyiség: <%= p.number %> db</div></td>
                                <td rowspan="2"><div align = 'center'> <%= good.price*p.number %> Ft </div></td>
                            </tr>
                            <tr>
                            </tr>
                        </table>
                                            
                    </li>
                <%end%>
            <%end%>
       </ul>
</div>


