    <div uk-grid>
        <div class="uk-width-1-1">
            <div class="uk-align-center uk-card uk-card-secondary uk-card-body uk-width-1-4">
                <h2 class="uk-card-title">Kosaram</h3>
                <% osszeg = 0 %>
                <% if !@purchases.nil? %>
                    <% @purchases.each do |p| %>
                        <% if p.buyer_id == current_user.id %>
                            <% good = Good.with_deleted.find(p.good_id) %>
                            <div> 
                                <span align='left'> <%=p.number%>x<%=good.name%> </span>
                                <span align='right'> <%=p.number*good.price%> Ft </span>
                            </div>
                            <% osszeg += p.number*good.price%>
                        <% end %>
                    <% end %>
                <% end %>
                <h4> Összesen: <%= osszeg%> Ft </h4>
            </div>
        </div>
    </div>

<% van = false %>
    <div class="uk-grid-small" uk-grid>
    <% @purchases.each do |p| %>
        <% if p.buyer_id == current_user.id%>
            <% van = true %>
            <% good = Good.with_deleted.find(p.good_id) %>
            <div class="uk-width-1-4@m">  
                <div class="uk-card-small uk-card-hover uk-card uk-card-default ">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <% if good.photo.attached? %>
                                    <%= link_to image_tag(good.thumb_cart), {action: 'good_show', id: good.id, purchase_id: p.id} %>
                                <% else %>
                                    <% product = Product.find_by_id(good.product_id) %>
                                    <% if product.photo.attached? %>
                                        <%= link_to image_tag(product.thumb_cart), {action: 'good_show', id: good.id, purchase_id: p.id}%>
                                    <% end %> 
                                <% end %>
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">
                                    <%= link_to good.name, {action: 'good_show', id: good.id, purchase_id: p.id}, class: "uk-link-reset" %>
                                </h3>
                                <div class="uk-card-badge">
                                    <div> <%= link_to action: 'back_from_cart', controller: 'purchases', id: p.id do %> <span uk-icon="icon: trash" uk-tooltip="title: Rendelés törlése; pos: bottom"></span><%end%> </div>
                                </div>
                                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01">
                                    <%= p.created_at.strftime("%Y-%m-%d, %H:%M") %>
                                </time></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div> <%= Category.find_by_id(good.category_id).name %> </div>
                        <div> Mennyiség: <%= p.number %> db</div>
                    </div>
                    <div class="uk-card-footer">
                        <div align = 'center'> <%= good.price*p.number %> Ft </div>
                    </div>
                </div>
            </div>
      <% end %>  
    <% end %>
</div>
<% unless van %>
  <h3 align = 'center'> Üres a kosarad </h2>  
<% end %>