<h2> <%=current_user.username%> profil adatok </h2>
<div> <%=link_to "Adatok módosítása", {action: 'edit'} %> </div>

<% cart_num = 0 %>
<% @purchases.each do |p| %>
    <% if p.buyer_id == current_user.id%>
       <% cart_num += 1 %>
    <% end %>
<%end%>
<% felirat = "Kosaram (" + cart_num.to_s + ")" %>
<div> <%=link_to felirat, {action: 'my_cart', controller: 'users'} %> </div>

<% good_num = 0 %>
<% @goods.each do |g| %>
    <% if g.seller_id == current_user.id %>
       <% good_num += 1 %>
    <% end %>
<%end%>
<% felirat = "Termékeim (" + good_num.to_s + ")" %>
<div> <%=link_to felirat, {action: 'my_goods', controller: 'users'} %> </div>

<% good_num = 0 %>
<% @purchases.each do |p| %>
    <% if Good.find_by_id(p.good_id).seller_id == current_user.id %>
       <% good_num += 1 %>
    <% end %>
<%end%>
<% felirat = "Megrendelt termékeim (" + good_num.to_s + ")" %>
<div> <%=link_to felirat, {action: 'sold_goods', controller: 'users'} %> </div>

<div> <%=link_to "Vissza", {action: 'landing', controller: 'goods'} %> </div>

