<div class="uk-flex uk-flex-center">
   <div class="uk-card uk-card-body uk-card-default	">

    <h1> <%= current_user.name %> </h1>

    <%= form_with url: user_path, method: :patch do |form| %>
      <% if current_user.roomnumber.nil? %>
        <h3 class = "uk-text-danger" > Szobaszám: </h3>
        <%= form.text_field :new_room, value: current_user.roomnumber, class: "" %>
      <% else %>
        <h3> Szobaszám: </h3>
        <%= form.text_field :new_room, value: current_user.roomnumber %>
      <% end %>
      <% options = ["Igen", "Nem"]%>
      <% if current_user.want_email %>
        <% which = "Igen" %>
      <% else %>
        <% which = "Nem" %>
      <% end %>
      <h3> E-mail értesítések a termékeid megrendeléséről/lemondásáról: </h3>
      <% options.each do |option| %>
        <% if which == option %>
          <%= form.radio_button :want_email, option, checked: true, class: "uk-radio" %>
          <%= label_tag(option) %>
        <% else %>
          <%= form.radio_button :want_email, option, checked: false, class: "uk-radio" %>
          <%= label_tag(option) %>
        <% end %>
      <% end %>
      <h3 align = 'left'> Leírás: </h3>
      <%= form.text_area :new_description, value: current_user.description, class: "uk-textarea" %>
      <button class="uk-button uk-button-primary">Mentés</button>
    <% end %>

    <h3 class = "uk-padding-small uk-padding-remove-left uk-margin-remove"> <%= link_to 'Üzenetek', conversations_path %> </h3>
    <h3 class = "uk-padding-small uk-padding-remove-left uk-margin-remove"> <%= link_to 'Kosaram', user_my_cart_path %> </h3>
    <h3 class = "uk-padding-small uk-padding-remove-left uk-margin-remove"> <%= link_to 'Termékeim', user_my_goods_path %> </h3>
    <h3 class = "uk-padding-small uk-padding-remove-left uk-margin-remove"> <%= link_to 'Megrendelt termékeim', user_sold_goods_path %> </h3>

  </div>
</div>
  
    