<h3 align='center'> Megrendelt termékeim </h3>
    <% van = false %>
    <div class="uk-grid-small" uk-grid>
    <% @purchases.each do |p| %>
      <% good = Good.with_deleted.find(p.good_id) %>
        <%if good.seller_id == current_user.id%>
          <% van = true %>
        <div class="uk-width-1-4@m">  
            <div class="uk-card-small uk-card-hover uk-card uk-card-default ">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                                <%= link_to action: 'good_show', purchase_id: p.id, id: good.id do %>
                                    <%= image_tag(get_image(good,"cart")) %>
                                <% end %>
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                <%= link_to good.name, {action: 'good_show', purchase_id: p.id, id: good.id}, class: "uk-link-reset" %>
                            </h3>
                            <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01">
                                <%= good.updated_at.strftime("%Y-%m-%d, %H:%M") %>
                            </time></p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body uk-padding-remove-bottom">
                    <% vevő = "Vevő: " + User.find_by_id(p.buyer_id).username %>                    
                    <div>Mennyiség: <%= p.number %> db</div>
                    <div>Összeg: <%= p.number*good.price %> Ft</div>
                    <%= link_to vevő, conversations_path(sender_id: current_user.id, 
                                                    receiver_id: p.buyer_id), method: :post %>
                </div>
                <div class="uk-card-footer">                    
                    <div align = 'center'>
                        <% uzenet = "Valóban kifezette " + User.find_by_id(p.buyer_id).username + " a vásárlást?"%>
                        <%=link_to "Kifizetve", { action: 'delete', controller: 'purchases', id: p.id }, data: {confirm: uzenet} %>
                    </div>
                </div>
            </div>
        </div>
      <% end %>  
    <% end %>
</div>
<% unless van %>
    <h1 align = 'center' > Nincs megrendelt terméked </h1>
<% end %>