<div class="uk-flex uk-flex-center">
   <div class="uk-card uk-card-body">

    <h1>Termék módosítása</h1>
        <%= form_for @good, :url => url_for(:action => 'update') do |form| %>
        <%= hidden_field_tag(:id, @good.id)%>
        <p>
          <%= form.label :Név %><br>
          <%= form.text_field :name,class:"uk-input" %>
        </p>

        <p>
          <%= form.label :Ár %><br>
          <%= form.text_field :price ,class:"uk-input" %>
        </p>

        <p>
          <%= form.label :Kategória %><br>
          <%= form.collection_select(:category_id, @categories, :id, :name,{},{:class=>'uk-select'})%>
        </p>

        <p>
          <%= form.label :Darabszám %><br>
          <%= form.text_field :number ,class:"uk-input"%>
        </p>
        
        <p>
          <%= form.label :Leírás %><br>
          <%= form.text_area :description ,class:"uk-textarea" %>
        </p>

        <p>
          <%= form.submit "Mentés" ,class:"uk-button uk-button-default" %>
        </p>
      <% end %>
  </div>
</div>
  
    