<div class="uk-flex uk-flex-center">
   <div class="uk-card uk-card-body">
<script>



function removeSelectedTag(event){
 input=$("#good_tags")
  tags=$("#good_taged")
  tag_container=$("#tag_container")
  selected_tags=$("#selected_tags")

   let st=selected_tags.val().split("#");
          if(st.includes(event.target.innerText))
          {
              removeTargetIndex=st.indexOf(event.target.innerText);
              //alert(removeTargetIndex);

            st.splice(removeTargetIndex, 1);
            selected_tags.val(st.join("#"));
          }

  event.target.remove()
  }

function createBadgeForTag(tagName)
{
   let badge = document.createElement('span');
   let icon = document.createElement('span');
  badge.innerHTML=tagName;
  badge.className='uk-badge';
   badge.addEventListener("click",removeSelectedTag);
  badge.appendChild(icon);
  icon.style.pointerEvents="none"
  UIkit.icon(icon,{icon:'close'});

 

  return badge
}

document.addEventListener("turbolinks:load",function()
  {
  input=$("#good_tags")
  tags=$("#good_taged")
  tag_container=$("#tag_container")
  selected_tags=$("#selected_tags")

  var options = {
    url: function(phrase){
      return "/autocomplete?q="+phrase
    },
    getValue: "name",
    list: {
      onChooseEvent: function(){
        if ( selected_tags.val()=="") {
          badge=createBadgeForTag(input.val())
          tag_container.append(badge);
          selected_tags.val(input.val())
        }
        else {
          let st=selected_tags.val().split("#");
          if(!st.includes(input.val()))
          {
            badge=createBadgeForTag(input.val())
            tag_container.append(badge);
            selected_tags.val(selected_tags.val()+"#"+input.val())
          }
        } 
      }
    }
  }
  input.easyAutocomplete(options);

});
  

</script>
    <h1>Termék felvétel</h1>

    <div> <%= link_to 'Felvétel meglévőből', {action: 'choose', controller: 'products'} %> </div>

        <%= form_with url: "/goods", scope: :good, local: true do |form| %>
        <p>
          <%= form.label :Név %><br>
          <%= form.text_field :name,class:"uk-input" %>
        </p>

        <p>
          <%= form.label :Ár %><br>
          <%= form.text_field :price ,class:"uk-input" %>
        </p>

        <p>
          <%= form.label :Kategória %><br>
          <%= form.collection_select(:category_id, @categories, :id, :name,{},{:class=>'uk-select'})%>
        </p>

        <p>
          <%= form.label :Darabszám %><br>
          <%= form.text_field :number ,class:"uk-input"%>
        </p>
        
        <p>
          <%= form.label :Leírás %><br>
          <%= form.text_area :description ,class:"uk-textarea" %>
        </p>

         <div id="tag_container"></div>
        <%= hidden_field_tag 'selected_tags', ''  %>         
      <p>


          <%= form.label :Tagek%><br>
          <%= form.text_field :tags,class:"uk-input"%>
        </p>

        <p>
            <%= form.label "Kép feltöltése" %><br>
          <div uk-form-custom>
            <%= form.file_field :photo %>
            <button class="uk-button uk-button-default" type="button" tabindex="-1">Választ</button>
           
          </div>
        </p>

        <p>
          <%= form.submit "Felvétel" ,class:"uk-button uk-button-default" %>
        </p>
      <% end %>
  </div>
</div>
  
    