<div class="uk-flex uk-flex-center">
   <div class="uk-card uk-card-body">

    <h1>Termék felvétel</h1>

    <div> <%= link_to 'Felvétel meglévőből', {action: 'choose', controller: 'products'} %> </div>

        <%= form_with scope: :good, local: true do |form| %>
        <p>
          <%= form.label :Név %><br>
          <%= form.text_field :name,class:"uk-input" %>
        </p>

        <p>
          <%= form.label :Ár %><br>
          <%= form.text_field :price ,class:"uk-input" %>
        </p>

        <p>
          <%= form.label :Kategória %><br>
          <%= form.collection_select(:category_id, @categories, :id, :name,{},{:class=>'uk-select'})%>
        </p>

        <p>
          <%= form.label :Darabszám %><br>
          <%= form.text_field :number ,class:"uk-input"%>
        </p>
        
        <p>
          <%= form.label :Leírás %><br>
          <%= form.text_area :description ,class:"uk-textarea" %>
        </p>

        <p>
            <%= form.label "Kép feltöltése" %><br>
          <div uk-form-custom>
            <%= form.file_field :photo %>
            <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
          </div>
        </p>

        <p>
          <%= form.submit "Felvétel" ,class:"uk-button uk-button-default" %>
        </p>
      <% end %>
  </div>
</div>
  
    