<p>
    <strong>Név:</strong>
    <%= @good.name %>
</p>

<p>
    <strong>Ár/db:</strong>
    <%= @good.price %>
    Ft
</p>

<p>
    <strong>Darabszám:</strong>
    <%= @good.number %>
</p>

<p>
    <% if session[:user_id] != @user.id %>
        <strong>Eladó:</strong> 
        <%= link_to @user.username, {:action => 'show_other_user', :controller => 'users',
                                :id => @user.id, :good_id => @good.id}  %>
    <% else %>
    <strong>saját termék</strong>
    <% end %>
</p>

<p>
    <strong>Leírás:</strong>
    <%= @good.description %>
</p>

<% if session[:user_id] != @user.id %>
    <%= form_for @order, :url => url_for(:action => 'copy', :id => @good.id) do |f| %>
        <div>
            <%= f.label :Mennyiség %>:
            <%= f.text_field :number %>
            <%=f.submit "Kosárba" %>
        </div>
    <% end %>
<% end %>

<%= link_to 'Vissza', {:action => 'index'} %>