<h1 align = "center"> E-schop </h1>
<p>
<strong>Név:</strong>
<%= @good.name %>
</p>

<p>
<strong>Ár:</strong>
<%= @good.price %>
</p>

<p>
<strong>Eladó:</strong>
<%= @user.username %>
</p>

<p>
<strong>Leírás:</strong>
<%= @good.description %>
</p>
<p><%= link_to 'Kosárba', {:action => 'to_cart', :controller => 'goods', :id => @good.id} %></p>

<p><%= link_to 'Vissza', {:action => 'index', :controller => 'goods'} %></p>
