
<p>
<strong>Név:</strong>
<%= @good.name %>
</p>

<p>
<strong>Ár:</strong>
<%= @good.price %>
</p>

<p>
<strong>Név:</strong>
<%= @good.seller_id %>
</p>

<p>
<strong>Leírás:</strong>
<%= @good.description %>
</p>
<p><%= link_to 'Back', goods_path %></p>
