<% if current_user == nil %>
  <h3> Nincs bejelentkezve senki! </h3>
  <p><%= link_to "Vissza a főoldalra", {action: 'index', controller: 'eschop'} %></p>
<% else %>
  <table style="width:95%" align = "center" >
    <tr>
      <td><%= link_to "Lista", {action: 'index'} %> </td>
      <td align = "right">
        <strong> <%= current_user.username %> </strong> 
      </td>
    </tr>
    <tr>
      <td><%= link_to "Új termék felvétele", {action: 'new'} %> </td>
      <td align = "right"><%= link_to "Profil megtekintése", {action: 'show', controller: 'users'} %> </td>
    </tr>
    <tr>
      <td><%= link_to "Kijelentkezés", {action: 'destroy', controller: 'sessions'} %> </td>
      <% unread_num = current_user.unread_inbox_count %>
      <% if unread_num >= 1 %>
        <% message_text = "Beszélgetések (" + unread_num.to_s + ")" %>
      <% else %>
        <% message_text = "Beszélgetések" %>
      <% end %>
      <td align = "right"><%= link_to message_text, conversations_path %> </td>  
    </tr>
  </table> 
<%end%>
