 <script>
  $(document).ready(function(){
  document.documentElement.style.overflowY="auto";
    });
  
  </script>
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #sticky-dropdown" class = "uk-visible@m">
<nav class="uk-navbar-container uk-margin uk-navbar" uk-navbar>

    <div class="uk-navbar-left uk-padding uk-padding-remove-top uk-padding-remove-bottom ">
        <ul class="uk-navbar-nav">
            <li><%= link_to 'E-schop', goods_index_get_path  %></li>
        </ul>
    </div>

    <div class="uk-navbar-center">
        <%unless @index%>
            <ul class="uk-navbar-nav">
                <li>
                    <%= form_tag filter_index_get_path, method: :get, id: "nameform", class: "uk-search uk-search-default" do %>
                        <input name="searched_phrase" id="scearched_prase" class="uk-search-input" type="search" placeholder="Keresés...">
                    <% end %>
                    <button  type="submit" form="nameform" class="uk-search-icon-flip" uk-search-icon></button>
                </li>
            </ul>
        <%end%> 
    </div>

    <div class="uk-navbar-right uk-padding uk-padding-remove-top uk-padding-remove-bottom ">

            <ul class="uk-navbar-nav">
            <% if current_user.nil? %>
                <li><%= link_to 'Bejelentkezés', new_user_session_path %></li> 
            <% else %>
                <li><a href="#" class="uk-visible@m"><%= current_user.username %></a></li>
                <div uk-dropdown="mode: click" class="uk-visible@m" style="z-index: -1;">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li>
                            <%=link_to user_path(current_user.id) do %>
                                Profilom 
                                <% if current_user.roomnumber.nil? %>
                                  <span class="uk-badge uk-background-secondary"> ! </span>
                                <% end %>
                            <%end%>
                        </li>
                        <%@conversations = Conversation.where("sender_id = ? OR receiver_id = ?", current_user.id, current_user.id)%>
                        <% message_num = 0 %>
                        <% @conversations.each do |conversation| %>
                            <% unless conversation.unread_message_count(current_user).zero? %>
                                <% message_num += 1 %>
                            <% end %>
                        <% end %>
                        <li>
                            <%=link_to conversations_path do %>
                                Üzenetek <span class="uk-badge"><%=message_num.to_s%></span>
                            <%end%>
                        </li>
                        <% @purchases = Purchase.all %>
                            <% @goods = Good.all %>
                            <% cart_num = 0 %>
                            <% @purchases.each do |p| %>
                                <% if p.buyer_id == current_user.id%>
                                    <% cart_num += 1 %>
                                <% end %>
                            <%end%>
                            <li>
                                <%=link_to user_my_cart_path do %>
                                    Kosaram <span class="uk-badge"><%=cart_num.to_s%></span>
                                <%end%>
                            </li>
                            <% good_num = 0 %>
                            <% @goods.each do |g| %>
                                <% if g.seller_id == current_user.id %>
                                    <% good_num += 1 %>
                                <% end %>
                            <%end%>
                          
                            <li> 
                                <%=link_to  user_my_goods_path do %>
                                    Termékeim <span class="uk-badge"><%=good_num.to_s%></span>
                                <%end%>
                                </li>
                            <% good_num = 0 %>
                            <% @purchases.each do |p| %>
                                <% if Good.with_deleted.find_by_id(p.good_id).seller_id == current_user.id %>
                                    <% good_num += 1 %>
                                <% end %>
                            <%end%>
                        
                            <li>
                                <%=link_to user_sold_goods_path do %>
                                    Megrendelt termékeim <span class="uk-badge"><%=good_num.to_s%></span>
                                <%end%>
                            </li>
                                <li><%= link_to 'Új termék felvétele', new_good_path, method: :get %></li> 
                            <li><%= link_to 'Kijelentkezés', destroy_user_session_path, method: :delete %></li>
                    </ul>
                </div>
            <%end%>
            </ul>
        <div>  

</nav>
</div>
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #sticky-dropdown" class = "uk-hidden@m">
<nav class="uk-navbar-container uk-margin uk-navbar" uk-navbar>
    <div class="uk-navbar-left">
        <a uk-icon="menu" uk-toggle="target: #offcanvas-nav"  class="uk-navbar-item uk-logo router-link-exact-active uk-active uk-hidden@m uk-padding-remove-right"> </a>
        <a uk-icon="menu" uk-toggle="target: #offcanvas-nav"  class="uk-navbar-item uk-logo router-link-exact-active uk-active uk-invisible uk-padding-remove-right"> </a>
         <%unless @index%>
            <ul class="uk-navbar-nav">
                <li>
                    <%= form_tag filter_index_get_path, method: :get, id: "nameform", class: "uk-search uk-search-default" do %>
                        <input name="searched_phrase" id="scearched_prase" class="uk-search-input" type="search" placeholder="Keresés...">
                    <% end %>
                    <button  type="submit" form="nameform" class="uk-search-icon-flip" uk-search-icon></button>
                </li>
            </ul>
        <%end%> 
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><%= link_to 'E-schop', goods_index_get_path  %></li>
        </ul>
    </div>
</nav>
</div>