<!DOCTYPE html>
<html lang="hu">
  <head>
    <title>ESchop</title>
       <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'stylesheets'%>
<!-- UIkit CSS -->

  </head>
 
  <body>
   <%=render 'layouts/topbar'%>
   <%=render 'layouts/sidebar'%>

    <% unless notice.nil? %>
      <script>UIkit.notification({message: '<%= notice %>', status: 'success', timeout: 3000})</script>
    <% end %>
    
    <% unless alert.nil? %>
      <script>UIkit.notification({message: '<%= alert %>', status: 'danger', timeout: 3000})</script>
    <% end %>
    <%= yield %>
  </body>
</html>